.button{
    display: inline-block;
    padding: .7rem 1rem;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: inherit;
    transition: .3s;
}

.button--add{
    background: #49c35d;
    color: #fff;
}

.button--checkout{
    background: #3a9c4a;
    color: #fff;
}

@media(any-hover: hover){
    .button:hover{
        transform: scale(1.1);
    }
}