.header{
    background: #444;
    color: #fff;
    padding: 1rem 0;
    position: relative;
    z-index: 21;
    margin-bottom: 1rem;
}

@media(min-width: 700px){
    .header{
        padding: 0;
    }
}