.imageWrapper{
    max-width: 80%;
    margin: auto;
}

@media(min-width: 1200px){
    .imageWrapper{
        max-width: 100%;;
    }
}

.image{
    width: 100%;
}

.price{
    font-weight: bold;
}

.productDetails{
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 2rem;
}
