.modal{
    position: fixed;
    width: 500px;
    max-width: 75%;
    background: #fff;
    top: 50%;
    left: 50%;
    border-radius: 5px;
    padding: 1rem;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    z-index: 21;
    transition: .3s;
}

.modalActive{
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 1;
    visibility: visible;
}
.exitIconWrapper{
    text-align: right;
}

.exitIcon{
    display: inline-block;
    padding: .2rem;
    cursor: pointer;
    transition: .3s;
}

@media(any-hover: hover){
    .exitIcon:hover{
        opacity: .5;
    }
}