.grid{
    --columns: 1fr
}

.grid{
    display: grid;
    grid-template-columns: var(--columns);
    grid-gap: 2rem;
}

@media(min-width: 768px){
    .grid{
        --columns: repeat(2, 1fr);
    }
}
@media(min-width: 1000px){
    .grid{
        --columns: repeat(3, 1fr);
    }
}