.table{
    table-layout: fixed;
    width: 100%;
    text-align: left;
    border-spacing: 1rem;
}

.itemHeader{
    width: 75%;
}

@media(min-width: 700px){
    .table{
        text-align: center;
    }
    .itemHeader{
        width: 50%;
    }
}