.navigationList{
    margin: 1rem 0 0 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.displayNone{
    display: none;
}

@media(min-width: 700px){
    .navigationList{
        display: flex;
        margin: .2rem 0 0 0 ;
    }
}
